//BLUE COLORS
$Color-blue-001: #e9f2ff;
$Color-blue-002: #f5f8fc;
$Color-blue-050: #0058a6;
$Color-blue-100: #00264b;

//GRAY COLORS
$Color-gray-001: #d3d3d3;
$Color-gray-002: #4b4b4b;
$Color-gray-003: #c3c3c3;
$Color-gray-004: #b7b7b7;
$Color-gray-005: #d9d9d9;
